@page {
    size: A4;
    margin-top: 15mm;
    margin-bottom: 20mm;
    margin-left: 1cm;
    margin-right: 1cm;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
.container {
    width: 85%;
    margin: auto;
}
.header {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.field {
    margin-bottom: 15px;
}
.field label {
    font-weight: bold;
    display: block;  /* Asegura que el label sea tratado como un bloque */
    page-break-after: avoid;  /* Evita que se rompa la página justo después del label */
    widows: 2;  /* Asegura al menos 2 líneas en la parte inferior de la página */
}
.field p {
    margin: 5px 0;
}
.field table {
    width: 100%;
    border-collapse: collapse;
}
.field table thead {
    background-color: #f0f0f0;
}
.field table th, .field table td {
    border: 1px solid #ddd;
    padding: 5px;
}
