{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Paso 1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ nombre }}</h1>

            {# Paso 1.1 #}
            <div class="field">
                <h2>{{ nombre_paso }}</h2>
                <h3>1.1 Ficha de descripción organizacional</h3>
            </div>
            <div class="field">
                <label>Denominación del organismo:</label>
                <p>{{ sector }}</p>
            </div>
            <div class="field">
                <label>Forma jurídica del organismo:</label>
                <p>{{ forma_juridica_organismo }}</p>
            </div>

            <div class="field">
                {% if marco_juridico_count > 1 %}
                    <label>Marcos jurídicos:</label>
                {% else %}
                    <label>Marco jurídico:</label>
                {% endif %}

                <table>
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Link para descarga</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento in marco_juridico %}
                        <tr>
                            <td>{{ documento.documento }}</td>
                            <td><a href="{{ documento.documento.url }}">Descargar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="field">
            {% if marco_juridico_count > 1 %}
                <label>Descripción archivos de marco jurídico:</label>
            {% else %}
                <label>Descripción archivo de marco jurídico:</label>
            {% endif %}
                <p>{{ descripcion_archivo_marco_juridico }}</p>
            </div>
            <div class="field">
                <label>Misión Institucional:</label>
                <p>{{ mision_institucional }}</p>
            </div>

            <div class="field">
            {% if informacion_adicional_marco_juridico %}
                <label>Información adicional:</label>
                <p>{{ informacion_adicional_marco_juridico }}</p>
            {% endif %}
            </div>

            {# Paso 1.2 #}
            <div class="field">
                <h3>1.2 Organización Institucional</h3>
            </div>
            <div class="field">
                <label>Organigrama Nacional:</label>
                <p>{{ organigrama_nacional }}</p>
            </div>
            <div class="field">
            {% if descripcion_archivo_organigrama_nacional %}
                <label>Descripción del archivo:</label>
                <p>{{ descripcion_archivo_organigrama_nacional }}</p>
            {% endif %}
            </div>

            <div class="field">
                {% if organigrama_regional_count > 1 %}
                    <label>Organigramas Regionales:</label>
                {% else %}
                    <label>Organigrama Regional:</label>
                {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Región</th>
                        <th>Documento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organigrama in organigrama_regional %}
                    <tr>
                        <td>{{ organigrama.region.region }}</td>
                        {% if organigrama.documento and organigrama.documento.url %}
                            <td><a href="{{ organigrama.documento.url }}">Descargar</a></td>
                        {% else %}
                            No existe archivo
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <div class="field">
                {% if descripcion_archivo_organigrama_regional %}
                    {% if organigrame_regional_count > 1 %}
                        <label>Descripción de los archivos:</label>
                    {% else %}
                        <label>Descripción del archivo:</label>
                    {% endif %}
                    <p>{{ descripcion_archivo_organigrama_regional }}</p>
                {% endif %}
            </div>

            {# Paso 1.3 #}
            <div class="field">
                <h3>1.3 Marco Regulatorio y funcional de la competencia</h3>
            </div>
            <div class="field">
                <label>Identificación de la competencia:</label>
                <p>{{ identificacion_competencia }}</p>
            </div>
            <div class="field">
                <label>Fuentes Normativas:</label>
                <p>{{ fuentes_normativas }}</p>
            </div>
            <div class="field">
                <label>Territorio sobre el cual se ejerce la competencia:</label>
                <p>{{ territorio_competencia }}</p>
            </div>
            <div class="field">
                <label>Existencia de enfoque territorial sobre la competencia:</label>
                <p>{{ enfoque_territorial_competencia }}</p>
            </div>
            <div class="field">
                <label>Ámbito de la Competencia:</label>
                <p>{{ ambito_paso1 }}</p>
            </div>
            <div class="field">
                <label>Posibilidad de ejercicio de la competencia por parte del Gobierno Regional:</label>
                <p>{{ posibilidad_ejercicio_por_gobierno_regional }}</p>
            </div>
            <div class="field">
                <label>Órgano que ejerce actualmente la competencia:</label>
                <p>{{ organo_actual_competencia }}</p>
            </div>
        </div>
    </div>
</body>
</html>
