{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resumen Competencia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="field">
                <label>Competencia:</label>
                <h1>{{ nombre }}</h1>
            </div>
            <div class="field">
                <label>{% if regiones_count > 1 %}Regiones:{% else %}Región:{% endif %}</label>
                <p>{% for region in regiones.all %}{{ region.region }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            </div>
            <div class="field">
                <label>{% if sectores_count > 1 %}Sectores:{% else %}Sector:{% endif %}</label>
                <p>{% for sector in sectores.all %}{{ sector.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            </div>
            <div class="field">
                <label>Origen de la Competencia:</label>
                <p>{{ origen }}</p>
            </div>
            <div class="field">
                <label>Ámbito de la Competencia:</label>
                <p>{{ ambito_definitivo_competencia }}</p>
            </div>
            <div class="field">
                <label>Fecha inicio:</label>
                <p>{{ fecha_inicio }}</p>
            </div>
            <div class="field">
                <label>Fecha Fin:</label>
                <p>{{ fecha_fin }}</p>
            </div>
            <div class="field">
                <label>Tiempo transcurrido:</label>
                <p>{{ tiempo_transcurrido }}</p>
            </div>

            <div class="field">
                <h3>Personas asignadas</h3>
            </div>

            <div class="field">
                <label>SUBDERE:</label>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in usuarios_subdere %}
                        <tr>
                            <td>{{ persona.nombre_completo }}</td>
                            <td>{{ persona.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="field">
                <label>DIPRES:</label>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in usuarios_dipres %}
                        <tr>
                            <td>{{ persona.nombre_completo }}</td>
                            <td>{{ persona.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="field">
                <label>Usuarios Sectoriales:</label>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Sector</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in usuarios_sectoriales %}
                        <tr>
                            <td>{{ persona.nombre_completo }}</td>
                            <td>{{ persona.email }}</td>
                            <td>{{ persona.sector }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="field">
                <label>Usuarios GORE:</label>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Región</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in usuarios_gore %}
                        <tr>
                            <td>{{ persona.nombre_completo }}</td>
                            <td>{{ persona.email }}</td>
                            <td>{{ persona.region }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
